
body  {
  overflow: hidden;
  min-width: 320px;
}

#root {
  overflow: hidden;
  min-width: 320px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  background-color: #222222c9;
  height: 60px;
  padding: 5px;
  color: white;
}

.App-title {
  font-size: 1.0 em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.user-center {
  /* height: 100%; */
  /* width: 100%; */
  overflow: hidden;
  /* overflow-y: scroll; */
  /* padding-right: 17px; */
  box-sizing: content-box;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  min-height: calc(100vh - 76px);
  max-height: calc(100vh - 76px);
  border: 1px lightgray solid;
  align-self: center;
  background-color: whitesmoke;
}

.user-center a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  float: left;
}

.user-center a:hover
{
    text-decoration:none;
}

.clickable {
  cursor: pointer;
}