/* .menu-container{
    margin-top: 5px;
    padding:2px;
    border: green 1px solid;
    display: inline-block;
} */
.menu-bar div{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

/* .menu-bar button{
    min-width: 110px;
} */